app/code/community/Space48/BarclaysPartnerFinance/misc/wsdl.staging.xml

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.barclays-partnerfinance.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:dm="http://bpf.barclay.com/BPF" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.barclays-partnerfinance.com/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.barclays-partnerfinance.com/">
            <s:element name="Callback">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ProposalID" type="s:int" />
                        <s:element minOccurs="0" maxOccurs="1" name="ProposalStatus" type="tns:ProposalEnquiry" />
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="tns:Address" />
                        <s:element minOccurs="0" maxOccurs="1" name="Snags" type="tns:ArrayOfSnag" />
                        <s:element minOccurs="0" maxOccurs="1" name="ChecklistConditions" type="tns:ArrayOfChecklistCondition" />
                        <s:element minOccurs="0" maxOccurs="1" name="ClientReference" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ProposalEnquiry">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
                </s:sequence>
                <s:attribute name="IsParked" type="s:boolean" use="required" />
            </s:complexType>
            <s:complexType name="Address">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="HouseNumber" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="HouseName" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Flat" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfSnag">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Snag" nillable="true" type="tns:Snag" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="Snag">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
                </s:sequence>
                <s:attribute name="Type" type="s:string" />
            </s:complexType>
            <s:complexType name="ArrayOfChecklistCondition">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ChecklistCondition" nillable="true" type="tns:ChecklistCondition" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ChecklistCondition">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="Satisfied" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="SatisfiedOn" type="s:string" />
                </s:sequence>
                <s:attribute name="Type" type="s:string" />
            </s:complexType>
            <s:element name="CallbackResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CallbackResult" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="CallbackSoapIn">
        <wsdl:part name="parameters" element="tns:Callback" />
    </wsdl:message>
    <wsdl:message name="CallbackSoapOut">
        <wsdl:part name="parameters" element="tns:CallbackResponse" />
    </wsdl:message>
    <wsdl:portType name="StubSoap">
        <wsdl:operation name="Callback">
            <wsdl:input message="tns:CallbackSoapIn" />
            <wsdl:output message="tns:CallbackSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StubSoap" type="tns:StubSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Callback">
            <soap:operation soapAction="http://www.barclays-partnerfinance.com/Callback" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <tns:validation />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StubSoap12" type="tns:StubSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Callback">
            <soap12:operation soapAction="http://www.barclays-partnerfinance.com/Callback" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
                <tns:validation />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Stub">
        <wsdl:port name="StubSoap" binding="tns:StubSoap">
            <soap:address location="http://silentnight.staging.space48.com/bpf/soap/update" />
        </wsdl:port>
        <wsdl:port name="StubSoap12" binding="tns:StubSoap12">
            <soap12:address location="http://silentnight.staging.space48.com/bpf/soap/update" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
